# API
PORT=3001
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=mysql://myass:myass@localhost:3306/myass

# Simulator
SIMULATOR_PORT=3002
SIMULATOR_URL=ws://localhost:3002

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=ws://localhost:3001/ws
